<div class="row">
	<div class="col-md-6">
		<!-- Biography -->
		<h2 class="handwriting">Biography</h2>
		<img src="../assets/torben_jan_mueller_438x640.jpg" alt="Torben Jan Müller" class="photoBiografie" />
		<!-- <div class="float-item"> -->
		<div>
			<p>Torben
				Jan Müller is a freelance film composer. He started playing the piano at the age of 6 and had classical
				lessons for seven years. At the age of 15, he learned guitar as a second instrument. He was taught concert
				and electric guitar by Roy Last. As lead guitarist, keyboarder and background singer, he has played in
				various rock and pop bands, including with Anna Depenbusch.
			</p>
			<p>
				He has worked as a producer and remixer under the artist name Steve Vercetti for various national and international labels, e.g. Peak Hour Music, New York.
			</p>
			<p>
				Torben Jan Müller studied at the Akademie Deutsche Pop in Cologne and graduated as a <b>film composer</b>, <b>composer</b>, <b>arranger</b> and <b>artistic producer</b>.
			</p>
		</div>

		<hr>

		<div>
			<!-- Stylistics -->
			<h2 class="handwriting">Stylistics</h2>
			<p>Great Symphonic Music, Electronic Music, Rock &amp; Pop, Funk</p>
		</div>
	</div>

	<div class="col-md-6 vertical-hr">
		<!-- Filmography -->
		<h2 class="handwriting">Filmography</h2>
		<table>
			<tbody class="list-unstyled">
				<tr>
					<td class="latest-year">2023</td>
					<td><a href="https://www.youtube.com/watch?v=fgvOdXr5U3Q" rel="noopener noreferrer"
						target="_blank">Hotel NORICA THERME Bad Hofgastein (TV Spot)</a></td>
				</tr>
				<tr>
					<td class="year">2019</td>
					<td>Ich liebe dich, Alex! (Short)</td>
				</tr>
				<tr>
					<td></td>
					<td>Sparkassen Card Plus (Image Film)</td>
				</tr>
				<tr>
					<td class="year">2018</td>
					<td>Virus (Short)</td>
				</tr>
				<tr>
					<td></td>
					<td>Blow (Short)</td>
				</tr>
				<tr>
					<td></td>
					<td>Wodka Gorbatschow PlakaDiva (Image Film)</td>
				</tr>
				<tr>
					<td class="year">2017</td>
					<td>Märkischer Kreis Jugendförderung (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Eurotec (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Verfuß (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Rising Death (Book Trailer)</td>
				</tr>
				<tr>
					<td></td>
					<td>Sparkasse Hemer (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Eine Ode an die Liebe (Short)</td>
				</tr>
				<tr>
					<td class="year">2016</td>
					<td>Das Casting (Short): Music, Sounddesign</td>
				</tr>
				<tr>
					<td></td>
					<td>Schön Klinik (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Ostzone (Horror Movie)</td>
				</tr>
				<tr>
					<td></td>
					<td>Zusammen leben in Hemer (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Alles Gute kommt von oben (Short)</td>
				</tr>
				<tr>
					<td></td>
					<td>Seven Devils (Trailer)</td>
				</tr>
				<tr>
					<td class="year">2015</td>
					<td>Schauerland (Intro)</td>
				</tr>
				<tr>
					<td></td>
					<td>Thomas Hümmler (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Ostzone (Trailer)</td>
				</tr>
				<tr>
					<td></td>
					<td>Verfuß (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Neonomads (Fashion Clip)</td>
				</tr>
				<tr>
					<td></td>
					<td>SFS Steuerberatungsgesellschaft (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>JUKI - Jugend- und Kinderfestival München (Image Film)</td>
				</tr>
				<tr>
					<td></td>
					<td>Mut (Short): Sounddesign</td>
				</tr>
				<tr>
					<td class="year">2014</td>
					<td>Formidling (Documentation)</td>
				</tr>
				<tr>
					<td></td>
					<td>Hailgirl (Short)</td>
				</tr>
				<tr>
					<td></td>
					<td>Art (Short)</td>
				</tr>
				<tr>
					<td></td>
					<td>Schmonz (TV Mini-Series)</td>
				</tr>
				<tr>
					<td></td>
					<td>Mein Ahnenland Peru (TV-Documentation)</td>
				</tr>
				<tr>
					<td class="year">2013</td>
					<td>50 Cent (Short)</td>
				</tr>
				<tr>
					<td></td>
					<td>Letting Go (Short)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>