<div class="main-footer">
	<div class="container">
		<div class="flexible-container">
			<div>
				<h4>Address</h4>
				<ul class="list-unstyled">
					<li>Am Hammershöfchen 23</li>
					<li>45219 Essen</li>
					<li>Germany</li>
				</ul>
			</div>
			<div>
				<h4>Contact</h4>
				<ul class="list-unstyled">
					<p><i class="fas fa-phone me-2"></i>02054 - 81399</p>
					<p><i class="fas fa-mobile-alt mr-12"></i>0151 - 28 47 20 59</p>
					<a href="mailto:info@torben-jan-mueller.com"><i class="fas fa-at me-2"></i>{{email}}</a>
				</ul>
			</div>
			<div>
				<h4>Links</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.imdb.com/name/nm6470908" rel="noopener noreferrer"
							target="_blank">IMDb</a></li>
					<li><a href="https://soundcloud.com/torben-jan-mueller" rel="noopener noreferrer"
							target="_blank">SOUNDCLOUD</a></li>
					<li><a href="https://www.crew-united.com/de/Torben-Jan-Mueller_355793.html#!searchterm=torben%20jan%20m%C3%BCller"
							rel="noopener noreferrer" target="_blank">crew united</a></li>
				</ul>
			</div>
			<div>
				<h4>Social Media</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.facebook.com/profile.php?id=100071947813879" rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
					<li><a href="https://twitter.com/TorbenJan" rel="noopener noreferrer" target="_blank"><i class="fa-brands fa-x-twitter me-2"></i>Twitter</a></li>
					<li><a href="https://www.instagram.com/steve_vaii73/" rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram mr-10"></i>Instagram</a></li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="row">
			<p class="col-sm">
				&copy; {{year}} Torben Jan Müller | All rights reserved
			</p>
		</div>
	</div>
</div>