<div class="jumbo">
	<div class="overlay"></div>
	<div class="jumbo-content">
		<div>
			<img src="../../../assets/torben_jan_mueller_100x100.jpg" alt="Torben Jan Müller">
		</div>

		<div>
			<h2>Torben Jan Müller</h2>
			<div>
				<h4 class="inline-block me-2">Composer</h4>
				<div class="inline-block">
					<span class="badge me-2 text-bg-success">Film</span>
					<span class="badge me-2 text-bg-danger">TV</span>
					<span class="badge text-bg-warning">Games</span>
				</div>
			</div>
		</div>

	</div>
</div>