:root {
	--body-bg: #212529;
	--orange: #ffc107;
}

body {
	font-family: Verdana, Geneva, sans-serif !important;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.center-v {
	display: flex;
	align-items: center;
}

@font-face {
	src: url(assets/fonts/DancingScript-Bold.ttf);
	font-family: Dancing Script;
}

.handwriting {
	/* position: relative;
	display: inline-block; */
	font-family: 'Dancing Script', cursive;
	font-size: 2.5rem;
}

/* .handwriting::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10px;
	background-color: lightgrey;
	z-index: -1;
} */

.float-item {
	width: 100%;
	height: auto;
}

.photoBiografie {
	width: 190px;
	float: left;
	margin-right: 10px;
}

.latest-year, .year {
	padding-right: 1rem;
	font-weight: bold;
}

.year, .year ~ td {
	padding-top: 1rem;
} 

.list-unstyled a {
	color: grey;
	text-decoration: none;
}

.list-unstyled a:hover {
	text-decoration: underline;
}

.vertical-hr .list-unstyled a {
	color: var(--bs-body-color);
}

.grey-font {
	color: #757575;
}

.grey-font h1 {
	font-size: 40px;
}

.grey-font h3 {
	font-size: 25px;
}

.grey-font p {
	text-align: justify;
}

.mr-10 {
	margin-right: 10px;
}

.mr-12 {
	margin-right: 12px;
}

.vertical-hr {
	border-left: 1px solid rgba(33, 37, 41, 0.25);
	height: 100%;
}